
QWidget{
background-color:#383335;
font-family: "Times New Roman";
color: white;
}

QLabel[type="1"]{
font-size: 13px;
color: lightgray;
font-style: italic;
}

QLabel{
font-size: 17px;
padding-right: 40px;
}

QPushButton{
font-size: 15px;
padding: 10px;
background-color:#c42d50;
}

QPlainTextEdit{
font-size: 15px;
}

QComboBox{
color: white;
font-size: 17px;
}