
QWidget{
background-color:#383335;
font-family: "Times New Roman";
}

QLabel[type="1"]{
font-size: 13px;
color: lightgray;
font-style: italic;
}

QLabel{
font-size: 17px;
color: white;
}

QPushButton{
font-size: 15px;
padding: 10px;
background-color:#c42d50;
color: white;
}

QLineEdit{
font-size: 17px;
color: white;
}

QPlainTextEdit{
font-size: 15px;
color: white;
}