
QWidget{
background-color:#383335;
font-family: "Times New Roman";
color: white;
}

QLabel[type="1"]{
font-size: 13px;
color: lightgray;
font-style: italic;
}

QLabel[type="2"]{
font-size: 17px;
}

QLabel{
font-size: 17px;
}

QPushButton{
font-size: 15px;
padding: 10px;
background-color:#c42d50;
}

QPushButton[type="1"]{
font-size:12px;
padding:2px;
background-color:#8a2139;
}

QPlainTextEdit{
font-size: 15px;
color: darkgray;
}

QComboBox{
color: white;
font-size: 17px;
}